body{
    background-color: #a7d3ff;
}

.b{
    color: #0b3552;
}

/*First page textboxs*/
#email, #newUserName, #newUserEmail{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*New food item text boxes*/
#foodName, #foodQuantity, #coreQuantity, #recipieInputs{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*New food item text boxes*/
#foodQuan, #coreQuan{
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

/*Submit button*/
.button-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #2c5777;
  background: #d3e8ff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-11:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.button-11:hover {
  background-color: #e3f1ff;
}

/*Login and create new user buttons*/
.button-8{
  background-color: #009879;
  border-radius: 3px;
  border: 1px solid #006853;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#loginButton{
  margin-top:10px;
}
#recipeButton{
  margin-bottom:5px;
}
/*new user, logout, get recipie buttons*/
.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}
.button-8:focus{
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}
.button-8:active{
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

/*adds shadow around the table*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/*adds color to top of table*/
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
/*spaces out the table*/
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
/*small line of color between each row*/
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
/*alternates row color*/
.styled-table tbody tr:nth-of-type(even) {
    background-color: #b5dcff;
}
/*bottom of table a different color*/
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/*Add Food Button and Missing Core Button*/
#addFood{
    margin-top:20px;
}
#missingCore{
  margin-top:10px;
}
.button-37 {
  background-color: #009879;
  border: 1px solid #009879;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 5px 15px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}
@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

/* Buttons inside of the table */
.tableButton {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 5px 12px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.tableButton:hover {
  background-color: #e9eaec;
  text-decoration: none;
  transition-duration: 0.1s;
}
.tableButton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
.tableButton:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.tableButton:focus {
  outline: 1px transparent;
}
.tableButton:before {
  display: none;
}
.tableButton:-webkit-details-marker {
  display: none;
}

/*Delete account button*/
.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 0.75rem;
  font-weight: 200;
  line-height: 23.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 6px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  margin-bottom: 15px;
}
.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}
.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}
.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}
.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}